extends index

block content
  .row.justify-content-center
    .text-center.mt-5
      img(src='/images/construction.png' style='height:75px;').mb-5
      h2=__("Oops something went wrong...!")
      pre=error.statusCode + ' - ' + error.message